.grid-1 {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 6rem 1fr;
}

.grid-2 {
   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: 1fr 6fr 6fr 1fr;
   overflow: hidden;
}

.about-content {
   grid-column: 2/4;
   overflow-y: scroll;
}

.about-content::-webkit-scrollbar {
   display: none;
}

.about-content {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.story {
   display: flex;
   justify-content: center;
   align-items: stretch;
   margin-top: 1rem;
   flex-wrap: wrap;
}

.profile-photo-div {
   background: #FFF05A;
   border-radius: 14px;
   min-width: 28rem;
   padding: 2.2rem 0.8rem 9rem 0.8rem;
   max-width: 38rem;
   margin-top: 1rem;
}

.profile-photo {
   width: 100%;
}

.text {
   max-width: 75ch;
}

.info {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #ffffff;
   border-radius: 14px;
   min-width: 28rem;
   max-width: 90ch;
   margin-left: 2.2rem;
   padding: 2rem;
   margin-top: 1rem;
}

.info-btns {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 80%;
   margin-bottom: 2rem;
   max-width: 75ch;
}

/* tools & skills */

.tools-skills {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   padding-top: 2rem;
   flex-wrap: wrap;
}

.item-header {
   width: 100%;
}

#tools {
   margin-right: 2rem;
   flex: 4;
}

.tools-col {
   display: flex;
   flex-wrap: wrap;
   background: #ffffff;
   border-radius: 14px;
   padding: 1rem;
   min-width: 34rem;
   flex: 1;
   align-items: center;
}

.skills-col {
   display: flex;
   flex-wrap: wrap;
   background: #ffffff;
   border-radius: 14px;
   padding: 1rem;
   margin-left: 2rem;
   min-width: 34rem;
   flex: 1.3;
   align-items: center;
}

.outline-item {
   padding: 0.4em 1em;
   font-size: 1.6rem;
   border: 1px solid black;
   text-align: center;
   margin: 0.5rem;
   border-radius: 8px;
   font-weight: 400;
}

@media only screen and (max-width: 768px) {
   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1rem 1fr 1rem;
      overflow: hidden;
   }

   .about-content {
      grid-column: 2/3;
      overflow-y: scroll;
   }

   .story {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: space-around;
   }

   .profile-photo-div {
      background: #FFF05A;
      border-radius: 14px;
      flex: 1;
      min-width: 34rem;
      padding: 2.2rem 0.8rem 9rem 0.8rem;
      max-width: 38rem;
      margin: 0 auto;
   }

   .info {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      border-radius: 14px;
      min-width: 34rem;
      max-width: 100%;
      margin-left: 2.2rem;
      padding: 2rem;
      margin: 1rem 0px 0px 0px;
   }

   .tools-skills {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding-top: 2rem;
      flex-wrap: wrap;
   }

   .tools-col {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: #ffffff;
      border-radius: 14px;
      padding: 2rem;
   }

   .skills-col {
      display: flex;
      flex-wrap: wrap;
      background: #ffffff;
      border-radius: 14px;
      padding: 2rem;
      margin-left: 1rem;
      flex: 1;
      align-items: center;
   }

   footer {
      grid-column: 1/5;
   }
}

@media only screen and (max-width: 640px) {
   .grid-2 {
      display: grid;
      grid-template-columns: 1rem 1fr 1rem;
      overflow: hidden;
   }

}