.grid-1 {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 8rem 1fr;
}

.grid-2 {
   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: 1fr 6fr 6fr 1fr;
   overflow: hidden;
}

.sc-content {
   grid-column: 2/4;
   padding-top: 2rem;
   overflow-y: scroll;
}

.sc-content::-webkit-scrollbar {
   display: none;
}

.sc-content {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.sc-container-1 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sc-cover {
   flex: 2;
   background: #90B301;
   border-radius: 14px;
}

.sc-about {
   flex: 1;
   font-size: 1.2rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 2.5rem;
}

.sc-img {
   width: 100%;
}

.sc-brand-type {
   font-family: 'Fahkwang', sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
}

.sc-container-2 {
   grid-column: 2/4;
   display: flex;
   flex-wrap: wrap;
   margin-top: 1rem;
   justify-content: center;
   align-items: stretch;
}

.prob-obj {
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: flex-start;
   padding: 0% 1%;
   min-width: 34rem;
}

.mockup-full {
   flex: 2;
   padding: 3% 0%;
   min-width: 40rem;
   margin-left: 1rem;
}

.mockup-full img {
   border-radius: 14px;
}

.problem {
   text-align: left;
   min-width: 34rem;
}

.objective {
   text-align: left;
   min-width: 34rem;
}

#sp-footer {
   grid-column: 1/5;
}

.sc-container-3 {
   grid-column: 2/4;
}

.role-time {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.role-col {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   min-width: 34rem;
   flex: 4;
}

.time-col {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   min-width: 34rem;
   flex: 1;
}

.sc-container-4 {
   grid-column: 2/4;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 2rem;
   width: 100%;
}

.users {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   flex: 1;
   padding: 2rem;
}

.sc-container-5 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.methods {
   display: flex;
   flex-direction: column;
   padding: 2rem;
   flex: 1;
   text-align: right;
   flex-wrap: wrap;
   min-width: 34rem;
}

.method-items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   min-width: 34rem;
}

.user-div {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   min-width: 34rem;
   max-width: 50rem;
}

.sc-img-med {
   border-radius: 14px;
  width: 50%;
  min-width: 34rem;
   flex: 1;
}

.user-photo {
   width: 100%;
   border-radius: 14px;
}

.sc-container-6 {
   grid-column: 2/4;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.style-head {
   margin-top: 2rem;
   align-self: flex-start;
   margin-right: 2rem;
}

.bold {
   font-weight: bold;
   text-transform: uppercase;
}

#left {
   text-align: left;
   flex: 1;
   flex-basis: 32rem;
   flex-shrink: 2;
}

.logo-sm {
   width: 100%;
   flex-basis: 20rem;
   max-width: 22rem;
   margin: 2rem;
}

.color {
   flex: 1;
   max-width: 12rem;
   min-width: 10rem;
   margin: 0.5rem;
   display: inline-block;
}

.color-width {
   width: 70%;
}

.sc-container-7 {
   grid-column: 2/4;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 2rem;
   width: 100%;
}

.fonts {
   margin-left: 0px;
   margin-top: 2rem;
}

.sc-brand-font {
   font-family: 'Fahkwang', sans-serif;
   font-size: 2.4rem;
   line-height: 3rem;
}

.sc-head-font {
   font-family: 'Fahkwang', sans-serif;
   font-size: 2rem;
   line-height: 2.4rem;
   text-transform: capitalize;
}

.sc-body-font {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.6rem;
}

.sc-caption-font {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.6rem;
   font-style: italic;
}

.sc-link-font {
   font-family: 'Nunito Sans', sans-serif;
   text-decoration: underline;
   font-size: 1.6rem;
}

.sc-container-8 {
   grid-column: 2/4;
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   margin-top: 2rem;
   width: 100%;
}

.ui-imgs {
   display: flex;
   flex-wrap: wrap;
}

.sc-ui-img {
   width: 100%;
   max-width: 70rem;
   min-width: 34rem;
   margin-right: 3rem;
}

.sc-ui-div {
   min-width: 34rem;
   align-self: center;
}

.sc-container-9 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 2rem;
   width: 100%;
}

.sc-container-10 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.mockup-full {
   flex: 1;
}

.mockup-half {
   flex: 1;
}

.sc-container-14 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.sc-container-15 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

#sp-footer {
   grid-column: 1/5;
}


@media only screen and (max-width: 900px) {
   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 2rem 1fr 2rem;
      overflow: hidden;
   }

   .sc-content {
      grid-column: 2/3;
      overflow-x: hidden;
      margin: 0px auto;
   }
}

@media only screen and (max-width: 768px) {

   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 2rem 1fr 2rem;
      overflow: hidden;
   }

   .sc-about {
      font-size: 1.1em;
   }

   .sc-content {
      grid-column: 2/3;
      overflow-y: scroll;
      padding-top: 2rem;
   }

   .sc-container-1 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
   }

   .sp-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 2rem;
   }

   .sc-ui-img {
      width: 100%;
   }

   .sc-hero {
      grid-column: 2/3;
      background: #6207FF;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      padding: 6%;
      margin: 0px auto;
      margin-bottom: 14px;
   }

   .sc-container-2 {
      grid-column: 2/3;
      width: 100%;
   }

   .img-limit {
      order: 1;
   }

   .sc-container-3 {
      grid-column: 2/3;
      width: 100%;
      margin: 0px auto;
   }

   .role-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2rem;
      flex-wrap: wrap;
   }

   .home-img {
      flex: 1;
      margin: 0px auto;
   }

   .sc-container-4 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: 0px auto;
   }

   .wires {
      text-align: center;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .lomidfi {
      margin-top: 2rem;
      flex: 1;
   }

   .sc-container-5 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px auto;
   }

   .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .item-header {
      display: flex;
      justify-content: flex-end;
   }

   .method-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      padding-bottom: 1rem;
   }

   .methods {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .margin-left {
      margin-left: 0px;
   }

   .color {
      flex: 1;
      width: 8rem;
   }

   .sc-container-6 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px auto;
   }

   .sp-container-7 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px auto;
   }

   .sc-container-8 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      width: 100%;
      margin: 0px auto;
   }

   .text {
      padding: 0;
      text-align: left;
   }

   .width {
      width: 100%;
      text-align: left;
   }

   .sc-container-9 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      width: 100%;
   }

   .sc-container-10 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px auto;
   }

   .sc-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 0px;
   }

   .sc-ui-img {
      width: 100%;
   }

   .btn-margin {
      margin: 2rem auto;
   }

   .mockup-full img {
      border-radius: 14px;
   }
}

/* for mobile screens */
@media only screen and (max-width: 600px) {
   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 2rem 1fr 2rem;
      overflow: hidden;
   }

   .sc-content {
      grid-column: 2/3;
      overflow-x: hidden;
      margin: 0px auto;
   }

   .sc-container-2 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;

   }

   .sc-container-3 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;

   }

   .role-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      flex-wrap: wrap;
      margin: 0px auto;
   }

   .sc-container-4 {
      grid-column: 2/3;
   }

   .wires {
      text-align: center;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .user-div {
      max-width: 36rem;
   }

   .sc-container-5 {
      grid-column: 2/3;
      margin: 0px auto;
   }

   .role-col {
      justify-content: flex-end;
   }

   .text {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .methods {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 0px auto;
      margin-right: 10px;
      max-width: 34rem;
   }

   .sc-caption-font {
      max-width: 36rem;
   }

   .sc-img-wide {
      border-radius: 14px;
      margin: 0px auto;
   }

   .sc-container-6 {
      grid-column: 2/3;
      margin: 0px auto;
   }

   .sc-container-7 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .sc-container-8 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      margin-top: 0px;
   }

   .sc-container-9 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .sc-container-10 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .sc-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 0px;
   }

   .sc-ui-img {
      width: 100%;
   }

}