.grid-1 {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 8rem 1fr;
}

.grid-2 {
   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: 1fr 7fr 6fr 1fr;
   overflow: hidden;
}

.sp-content {
   grid-column: 2/4;
   padding-top: 2rem;
   overflow-y: scroll;
}

.sp-content::-webkit-scrollbar {
   display: none;
}

.sp-content {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.sp-container-1 {
   grid-column: 2/4;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 3rem 30rem 1fr;
}

.arm {
   margin-left: 5rem;
   grid-column: 1/8;
   grid-row: 1/4;
}

.sp-logo-div {
   max-width: 20rem;
   margin-top: 2rem;
}

.about-sp {
   grid-row: 2/3;
   grid-column: 5/12;
   font-size: 1rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

}

.sp-font {
   font-family: "Vollkorn", serif;
   font-weight: 400;
   font-size: 3rem;
}

.sp-img {
   width: 100%;
}

#brand {
   width: 100%;
}

.sp-container-2 {
   grid-column: 2/4;
   display: flex;
   flex-wrap: wrap;
}

.prob-obj {
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: flex-start;
   padding: 0px 2rem;
   min-width: 34rem;
}

.problem {
   text-align: center;
   min-width: 34rem;
}

.objective {
   text-align: center;
   min-width: 34rem;
}

.home-img {
   flex: 1.3;
   min-width: 34rem;
}

.sp-container-3 {
   grid-column: 2/4;
}

.role-time {
   display: flex;
   justify-content: space-between;
   padding-top: 2rem;
   flex-wrap: wrap;
}

.role-col {
   display: flex;
   flex-wrap: wrap;
   padding: 2rem;
   min-width: 34rem;
   flex: 4;
}

.time-col {
   display: flex;
   flex-wrap: wrap;
   padding: 2rem;
   margin-left: 2rem;
   min-width: 34rem;
   flex: 1;
}

.sp-container-4 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.wires {
   flex: 1;
   text-align: center;
   min-width: 34rem;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.lomidfi {
   flex: 1.5;
   min-width: 34rem;
}

#border {
   border-radius: 1.4rem;
}

.sp-container-5 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.sp-container-6 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.btn-margin {
   margin-top: 1.5rem;
}

.text {
   flex: 1;
   padding: 2rem;
   min-width: 34rem;
}

.methods {
   display: flex;
   flex-direction: column;
   padding: 2rem;
   flex: 1;
   text-align: right;
   flex-wrap: wrap;
   min-width: 34rem;
}

.method-items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   min-width: 34rem;
}

.user-div {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   max-width: 34rem;
}

.img-wrap {
   border-radius: 1.4rem;
   padding: 2.4rem;
   min-width: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   font-weight: 700;
}

.purple {
   background: #6207FF;
}

.white {
   color: white;
}

.user-photo {
   width: 100%;
   border-radius: 1rem;
   padding: 0.4rem;
}

.margin-left {
   margin-left: 1.5rem;
}

.user-quote {
   padding: 1.4rem;
   border-radius: 1rem;
   display: flex;
   align-items: stretch;
   margin: 1rem 0px;
}

.sp-container-7 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.sp-container-8 {
   grid-column: 2/4;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 2rem;
   text-align: center;
}

.style-head {
   margin-top: 2rem;
   align-self: flex-start;
   margin-right: 2rem;
}

.bold {
   font-weight: bold;
   text-transform: uppercase;
}

#left {
   text-align: left;
   flex: 1;
   flex-basis: 3.3rem;
   flex-shrink: 2;
}

.logo-sm {
   width: 100%;
   flex-basis: 2rem;
   max-width: 2.2rem;
   margin: 2rem;
}

.sp-container-9 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 4rem;
}

.color {
   flex: 1;
   max-width: 12rem;
   min-width: 1rem;
}

.color-width {
   width: 8rem;
}

.sp1 {
   background: #0F0A39;
}

.sp2 {
   background: #FC4A1A;
}

.sp3 {
   background: #F7B733;
}

.sp4 {
   background: #F8F8F8;
}

.sp5 {
   background: #FFFFFF;
}

.sp6 {
   background: #030303;
}

.sp-container-10 {
   grid-column: 2/4;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.fonts {
   margin-left: 3rem;
   margin-top: 2rem;
}

.sp-brand-font {
   font-family: 'Vollkorn', serif;
   font-size: 2rem;
   line-height: 0.4rem;
   font-style: italic;
}

.sp-head-font {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.6rem;
   line-height: 1rem;
}

.sp-body-font {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.2rem;
}

.sp-caption-font {
   font-family: 'Vollkorn', serif;
   font-size: 1.2rem;
   font-style: italic;
}

.sp-link-font {
   font-family: 'Nunito Sans', sans-serif;
   text-decoration: underline;
   font-size: 1.2rem;
}

.sp-container-11 {
   grid-column: 2/4;
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.ui-imgs {
   display: flex;
   flex-wrap: wrap;
}

.sp-ui-img {
   width: 100%;
   max-width: 70rem;
   min-width: 34rem;
   margin-right: 3rem;
}

.sp-ui-div {
   min-width: 34rem;
   align-self: center;
}

.sp-container-12 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.sp-container-13 {
   grid-column: 2/4;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.mockup-full {
   flex: 1;
}

.mockup-half {
   flex: 1;
}

.sp-container-14 {
   grid-column: 2/3;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

.sp-container-15 {
   grid-column: 2/3;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 4rem;
   width: 100%;
}

#sp-footer {
   grid-column: 1/5;
}

@media only screen and (max-width: 900px) {

   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 2rem 1fr 2rem;
      overflow: hidden;
   }

   .sp-content {
      grid-column: 2/3;
      overflow-x: hidden;
      margin: 0px auto;
      max-width: 100%;
   }

   .sp-container-1 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
   }

   .arm {
      margin-left: 0px;
      width: 70%;
      order: 3;
   }

   .sp-logo-div {
      max-width: 20rem;
      margin-top: 2rem;
   }

   .about-sp {
      font-size: 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      max-width: 100%;
   }
}

@media only screen and (max-width: 768px) {

   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 2rem 1fr 2rem;
      overflow: hidden;
   }

   .sp-content {
      grid-column: 2/3;
      overflow-x: hidden;
      margin: 0px auto;
   }

   .sp-container-1 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;
   }

   .arm {
      grid-column: 2/3;
      width: 70%;
      order: 2;
      margin-left: 0px;
   }

   .sp-logo-div {
      margin-top: 2rem;
      max-width: 14rem;
   }

   .about-sp {
      grid-row: 2/3;
      text-align: center;
      margin: 0px auto;
      min-width: 34rem;
   }

   .sp-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 4rem;
   }

   .sp-ui-img {
      width: 100%;
   }

   .sp-hero {
      grid-column: 2/3;
      background: #6207FF;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1.4rem;
      padding: 6%;
      margin: 0px auto;
   }

   .sp-container-2 {
      grid-column: 2/3;
      max-width: 100%;
      margin: 0px auto;
   }

   .sp-container-3 {
      grid-column: 2/3;
      width: 100%;
      margin: 0px auto;
   }

   .role-col {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding: 2rem;
      min-width: 34rem;
      flex: 4;
   }

   .time-col {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding: 2rem;
      margin-left: 2rem;
      min-width: 34rem;
      flex: 1;
   }

   .home-img {
      flex: 1;
      margin: 0px auto;
   }

   .sp-container-4 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 100%;
      margin: 0px auto;
   }

   .wires {
      text-align: center;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .lomidfi {
      margin-top: 2rem;
      flex: 1;
   }

   .sp-container-5 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0px auto;
   }

   .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .item-header {
      display: flex;
      justify-content: flex-end;
   }

   .method-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      padding-bottom: 10px;
      width: 100%;
   }

   .outline-item {
      padding: 4px 8px;
      border: 1px solid black;
      text-align: center;
      margin: 3px;
      border-radius: 8px;
      font-weight: 400;
   }

   .methods {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .color {
      flex: 1;
      width: 8rem;
   }

   .sp-container-6 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0px auto;
   }

   .sp-container-7 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0px auto;
   }

   .sp-container-8 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      max-width: 100%;
      margin: 0px auto;
   }

   .width {
      width: 100%;
      text-align: left;
   }

   .sp-container-9 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      max-width: 100%;
      margin: 0px auto;
   }

   .sp-container-10 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0px auto;
   }

   .sp-container-11 {
      grid-column: 2/3;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin: 0px auto;
   }

   .sp-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 0px;
   }

   .sp-ui-img {
      width: 100%;
   }

   .sp-container-12 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      max-width: 100%;
   }

   .btn-margin {
      margin: 2rem auto;
   }

   .sp-container-13 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0px auto;
   }

   .sp-container-14 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px auto;
   }

   .mockup-full img {
      border-radius: 1.4rem;
   }

   .sp-container-15 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin: 0px auto;
   }
}

@media only screen and (max-width: 400px) {

   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1rem 1fr 1rem;

   }

   .sp-content {
      grid-column: 2/3;
      max-width: 100%;
      overflow-x: hidden;
      margin: 0px auto;
   }

   .sp-container-1 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 100%;
      text-align: center;
   }

   .arm {
      grid-column: 2/3;
      order: 2;
      margin-left: 0px;
      max-width: 34rem;
   }

   .sp-logo-div {
      margin-top: 2rem;
      max-width: 14rem;
   }

   .about-sp {
      grid-column: 2/3;
      text-align: center;
      margin: 0px;
   }

   .user-div {
      max-width: 34rem;
      margin: 1rem;
   }

   .sp-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 4rem;
   }

   .sp-ui-img {
      width: 100%;
   }

   .sp-container-2 {
      grid-column: 2/3;
      min-width: 34rem;
      max-width: 100%;
   }

   .prob-obj {
      padding: 0;
   }

   .sp-container-3 {
      grid-column: 2/3;
   }

   .role-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
   }

   .home-img {
      flex: 1;
      margin: 0px auto;
   }

   .sp-container-4 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .wires {
      text-align: center;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .lomidfi {
      margin-top: 2rem;
      flex: 1;
   }

   .sp-container-5 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .text {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .methods {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1%;
      flex: 1;
      flex-wrap: wrap;
   }

   .margin-left {
      margin-left: 0px;
   }

   .color {
      flex: 1;
      max-width: 8rem;
      min-width: 8rem;
   }

   .sp-container-6 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
   }

   .sp-container-7 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
   }

   .sp-container-8 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin-top: 0;
   }

   .text {
      padding: 0;
      text-align: center;
   }

   .width {
      width: 100%;
      text-align: left;
   }

   .sp-container-9 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .sp-container-10 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
   }

   .fonts {
      margin-left: 0px;
      margin-top: 0px;
   }

   .sp-container-11 {
      grid-column: 2/3;
      justify-content: flex-start;
      align-items: center;
   }

   .sp-ui-div {
      align-self: flex-start;
      text-align: left;
      margin-right: 4rem;
   }

   .sp-ui-img {
      width: 100%;
      max-width: 34rem;
   }

   .sp-container-12 {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
   }

   .btn-margin {
      margin: 2rem auto;
   }

   .sp-container-13 {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      text-align: center;
   }

   .sp-container-14 {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      text-align: center;
   }

   .mockup-full img {
      border-radius: 1.4rem;
   }

   .sp-container-15 {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
      text-align: center;
   }
}