.sp-content {
   grid-column: 2/7;
   grid-row: 2/16;
   overflow-y: scroll;
   padding: 20px;
}

.sp-hero {
   grid-column: 2/7;
   grid-row: 1/2;
   background: #6207FF;
   color: white;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   border-radius: 14px;
   padding: 6%;
   padding-left: 15%;
}

.sp-hero1 {
   position: relative;
   max-width: 200px;
   margin-right: 2%;
   flex: 1;
}

.sp-hero1::before {
   position: absolute;
   left: -20px;
   height: 100%;
   width: 6px;
   background: #FFF05A;
   content: "";
}

.sp-hero2 {
   flex: 5;
   max-width: 400px;
   margin-top: 3%;
   align-self: flex-end;
}

.sp-container-1 {
   grid-column: 2/7;
   grid-row: 2/3;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.intro {
   grid-column: 1/3;
   grid-row: 1/2;
   display: flex;
   flex-direction: column;
   flex: 1;
   min-width: 310px;
   text-align: center;
   margin-right: 30px;
}

#sp-p {
   display: block;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   padding-top: 2%;
}

.arm {
   grid-column: 3/6;
   grid-row: 1/3;
   margin-top: 20px;
   min-width: 310px;
   flex: 1;
}

.sp-img {
   width: 100%;
}

#brand {
   width: 200px;
   margin-top: 10%;
}

.problem {
   margin-top: 30px;
   grid-column: 1/4;
   grid-row: 2/3;
   min-width: 400px;
   text-align: center;
}

.sp-container-2 {
   grid-column: 2/7;
   grid-row: 3/4;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.objective {
   flex: 1;
   text-align: center;
   min-width: 300px;
   align-self: flex-start;
   margin-top: 10%;
   padding: 2%;
}

.home-img {
   flex: 1.5;
   min-width: 375px;
}

#sp-footer {
   grid-row: 6/7;
   grid-column: 1/8;
}

.sp-container-3 {
   grid-column: 2/7;
   grid-row: 4/5;
}

.role-time {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   flex-wrap: wrap;
}

.role-col {
   display: flex;
   flex-wrap: wrap;
   padding: 2%;
   min-width: 375px;
   flex: 4;
}

.time-col {
   display: flex;
   flex-wrap: wrap;
   padding: 2%;
   margin-left: 20px;
   min-width: 375px;
   flex: 1;
}

.sp-container-4 {
   grid-column: 2/7;
   grid-row: 5/6;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   margin-top: 20px;
}

.wires {
   flex: 1;
   text-align: center;
   min-width: 300px;
   padding: 2%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.lomidfi {
   flex: 1.5;
   min-width: 375px;
}

#border {
   border-radius: 14px;
}

.sp-container-5 {
   grid-column: 2/7;
   grid-row: 6/7;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 20px;
}

.sp-container-6 {
   grid-column: 2/7;
   grid-row: 7/8;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 20px;
}

.btn-margin {
   margin-top: 15px;
}

.text {
   flex: 1;
   padding: 2%;
   min-width: 360px;
}

.methods {
   display: flex;
   flex-direction: column;
   padding: 2%;
   flex: 1;
   text-align: right;
   flex-wrap: wrap;
   min-width: 360px;
}

.method-items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   min-width: 360px;
}

.user-div {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   min-width: 200px;
}

.img-wrap {
   border-radius: 14px;
   padding: 4%;
   min-width: 200px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   font-weight: 700;
}

.purple {
   background: #6207FF;
}

.white {
   color: white;
}

.user-photo {
   width: 100%;
   border-radius: 14px;
}

.margin-left {
   margin-left: 15px;
}

.user-quote {
   padding: 0 6%;
   border-radius: 14px;
   display: flex;
   align-items: stretch;
   margin: 14px 0;
}

.sp-container-7 {
   grid-column: 2/7;
   grid-row: 8/9;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 20px;
}

.sp-container-8 {
   grid-column: 2/7;
   grid-row: 9/10;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 20px;
   text-align: center;
}

.style-head {
   margin-top: 20px;
   align-self: flex-start;
   margin-right: 20px;
}

.bold {
   font-weight: bold;
   text-transform: uppercase;
}

#left {
   text-align: left;
   flex: 1;
   flex-basis: 325px;
   flex-shrink: 2;
}

.sp-logo-div {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   min-width: 325px;
   flex-shrink: 1;
   padding-bottom: 4%;
}

.logo-sm {
   width: 80%;
   flex-basis: 200px;
   max-width: 225px;
   margin: 20px;
}

.sp-container-9 {
   grid-column: 2/7;
   grid-row: 10/11;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 40px;
}

.color {
   flex: 1;
   max-width: 120px;
   min-width: 100px;
}

.color-width {
   width: 80%;
}

.sp1 {
   background: #0F0A39;
}

.sp2 {
   background: #FC4A1A;
}

.sp3 {
   background: #F7B733;
}

.sp4 {
   background: #F8F8F8;
}

.sp5 {
   background: #FFFFFF;
}

.sp6 {
   background: #030303;
}

.sp-container-10 {
   grid-column: 2/7;
   grid-row: 11/12;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 40px;
   width: 100%;
}

.fonts {
   margin-left: 30px;
   margin-top: 20px;
}

.sp-brand-font {
   font-family: 'Vollkorn', serif;
   font-size: 2em;
   line-height: 0.4em;
   font-style: italic;
}

.sp-head-font {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.6em;
   line-height: 1em;
}

.sp-body-font {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.2em;
}

.sp-caption-font {
   font-family: 'Vollkorn', serif;
   font-size: 1.2em;
   font-style: italic;
}

.sp-link-font {
   font-family: 'Nunito Sans', sans-serif;
   text-decoration: underline;
   font-size: 1.2em;
}

.sp-container-11 {
   grid-column: 2/7;
   grid-row: 12/13;
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   margin-top: 40px;
   width: 100%;
}

.ui-imgs {
   display: flex;
   flex-wrap: wrap;
}

.sp-ui-img {
   width: 100%;
   max-width: 500px;
   min-width: 360px;
   margin-left: 20px;
}

.sp-ui-div {
   min-width: 375px;
   align-self: center;
}

.sp-container-12 {
   grid-column: 2/7;
   grid-row: 13/14;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin-top: 40px;
   width: 100%;
}

.sp-container-13 {
   grid-column: 2/7;
   grid-row: 14/15;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 40px;
   width: 100%;
}

.mockup-full {
   flex: 1;
}

.mockup-half {
   flex: 1;
}

.sp-container-14 {
   grid-column: 2/7;
   grid-row: 15/16;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 40px;
   width: 100%;
}

.sp-container-15 {
   grid-column: 2/7;
   grid-row: 16/17;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 40px;
   width: 100%;
}

#sp-footer {
   grid-column: 1/7;
   grid-row: 17/18;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (max-width: 640px) {

   .sp-hero {
      grid-column: 2/7;
      grid-row: 1/2;
      background: #6207FF;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 14px;
      padding: 6%;
   }

   .hero1 h1 {
      font-size: 2em;
   }

   .hero2 h2 {
      font-size: 1.2em;
      max-width: 375px;
      margin-top: 1%;
      align-self: flex-end;
      text-align: center;
   }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (max-width: 768px) {
   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1fr;
      overflow: hidden;
      margin: 0 auto;
   }

   .sp-content {
      overflow-y: scroll;
      padding: 20px;
   }

   .sp-container-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
   }

   .intro {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      min-width: 310px;
      text-align: center;
      margin-right: 0px;
      order: 1;

   }

   .arm {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: 0px;
      min-width: 310px;
      order: 2;
   }

   .problem {
      order: 3;
   }

   #brand {
      width: 200px;
      margin-top: 8%;
   }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}