/* body & general font styles */
* {
   box-sizing: border-box;
   font-family: 'HK Grotesk Regular';
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'HK Grotesk Regular';
   font-size: 1rem;
   line-height: 1.6;
   background: #f8f8f8;
   overflow: hidden;
}

h1 {
   font-size: 4.4rem;
   line-height: 5.5rem;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-family: 'HK Grotesk Medium';
}

h2 {
   font-size: 3rem;
   font-weight: 400;
   font-family: 'HK Grotesk Regular';
}

.subtitle-lg {
   font-size: 2.1rem;
   line-height: 3rem;
   font-family: 'HK Grotesk Regular';
   text-align: center;
}

h3 {
   font-size: 2.2rem;
   font-family: 'HK Grotesk Regular';
   font-weight: 700;
   line-height: 2.8rem;
}

h4 {
   font-size: 1.8rem;
   font-family: 'HK Grotesk Regular';
   font-weight: 300;
   line-height: 2.5rem;
}

p {
   font-size: 1.6rem;
   line-height: 2rem;
}

a {
   font-size: 1.6rem;
}

.text {
   max-width: 75ch;
}

.link-wht {
   text-decoration: none;
   color: white;
   font-size: 1.6rem;
   font-family: 'HK Grotesk Medium';
}

.more-btn:hover .link-wht {}

.link-blk {
   text-decoration: none;
   color: black;
   font-size: 1.6rem;
   font-family: 'HK Grotesk Medium';
}

.link-blk:hover {
   text-decoration: underline;
   font-size: 1.6rem;
   font-family: 'HK Grotesk Medium';
}

.help {
   font-family: 'HK Grotesk regular';
   color: black;
}


/* grid */

.grid-1 {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 80px 1fr;
}

.grid-2 {
   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: 1fr 6fr 6fr 6fr 1fr;
   overflow: hidden;
}

.home-content {
   grid-column: 2/4;
   overflow-y: scroll;
   padding-top: 2rem;
}

.home-content::-webkit-scrollbar {
   display: none;
}

.home-content {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* header/nav */

.header {
   grid-column: 1/5;
   grid-row: 1/2;
   width: 100%;
   margin: 0px auto;
   background: white;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   z-index: 10;
   height: 8rem;
}

.header-content {
   width: 80%;
   height: 7rem;
   margin: 0px auto;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin-top: 3rem;
}

.logo-div {
   grid-column: 2/3;
   grid-row: 2/3;
   flex: 0 0 2rem;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.tjn {
   font-family: 'HK Grotesk Regular';
   max-height: 2rem;
   margin-top: 1.3rem;
}

ul {
   list-style-type: none;
   margin-block-start: 0px;
   margin-block-end: 0px;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;
}

li {
   display: inline-block;
}

.mainMenu {
   position: initial;
   display: flex;
   flex-flow: row nowrap;
   flex-direction: row;
   justify-content: flex-end;
   margin-top: 1rem;
}

.nav-item {
   color: black;
   text-decoration: none;
   padding: 0.5em;
   position: relative;
   z-index: 0;
   cursor: pointer;
   flex: 1 0 auto;
   border-bottom: none;
   background: transparent;
   align-items: initial;
   margin: 5px;
}

.nav-item:after {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0.2rem;
   background: black;
   content: "";
   opacity: 0;
   transition: all 0.3s;
}

li:hover .nav-item:after {
   transform: translateY(-0.6rem);
}

li:hover .nav-item:hover:after {
   opacity: 1;
   transform: translateY(0rem);
}

.active {
   color: black;
   text-decoration: none;
   position: relative;
   cursor: pointer;
   padding: 0.5em;
   margin: 0.5rem;
}

.active:after {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0.2rem;
   background: #6207FF;
   content: "";
   opacity: 1;
}

#show-menu-input-checkbox {
   display: none;
}

#main-menu-toggler {
   display: none;
}

/* main & hero */

.home-content {
   grid-column: 2/4;
   grid-row: auto;
   overflow: auto;
}

.hero {
   grid-row: 1/2;
   grid-column: 2/4;
   background: #6207FF;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 14px;
   padding: 6rem;
   padding-left: 16rem;
   margin-bottom: 2rem;
}

.hero1 {
   position: relative;
   margin-right: 2rem;
}

.hero1::before {
   position: absolute;
   left: -2rem;
   height: 100%;
   width: 0.6rem;
   background: #FFF05A;
   content: "";
}

.hero1::after {
   position: absolute;
   bottom: -0.8rem;
   height: 0.3rem;
   width: 100%;
   background: #FFF05A;
   content: "";
   display: none;
}

.hero2 {
   flex: 4;
   max-width: 70%;
   margin-top: 1rem;
   padding-right: 8rem;
}

/* projects */

.title-block {
   grid-column: 2/4;
   grid-row: 2/3;
   text-align: center;
}

.project1 {
   grid-column: 2/4;
   grid-row: 3/4;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 14px;
   background: #ffffff;
   padding: 2%;
}

.project2 {
   grid-column: 2/4;
   grid-row: 4/5;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 14px;
   background: #ffffff;
   padding: 2%;
   margin-top: 2rem;
}

.project3 {
   grid-column: 2/4;
   grid-row: 5/6;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 14px;
   background: #ffffff;
   padding: 2%;
   margin-top: 2rem;
}


.proj-img-div {
   flex: 5;
   border-radius: 14px;
   text-align: center;
   min-width: 34rem;
}

.yellow {
   background: #FFF05A;
}

.green {
   background: #90B301;
}

.orange {
   background: #febf7f;

}

.proj-img {
   width: 100%;
   border-radius: 14px;
   filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(75, 74, 74, 0.1));
}

.proj-img-lg {
   width: 100%;
}

.proj-txt {
   flex: 4;
   padding: 3%;
   min-width: 34rem;
}

.more-btn {
   background-image: linear-gradient(to right,
         #6207FF 2%,
         #6207FF 51%,
         #F2E9DC 100%);
   padding: 0.8em 0.6em;
   text-align: center;
   transition: 0.5s;
   max-width: 34rem;
   background-size: 200% auto;
   border-radius: 8px;
   box-shadow: 0 0 20px #eee;
   display: block;
   margin: 10px auto;
   min-width: 26rem;
}

.more-btn:hover {
   background-position: right center;
}

/* footer */

footer {
   grid-column: 1/5;
   grid-row: 6/7;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.social {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 34rem;
   margin-top: 2rem;
}

.icon {
   margin-left: 1rem;
   margin-right: 1rem;
}

.copyright {
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-margin {
   margin: 0rem 1rem 0rem 0rem;
}

.help {
   text-align: center;
}


@media only screen and (max-width: 768px) {
   .grid-2 {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 2em 1fr 2em;
      overflow: hidden;
   }

   .home-content {
      grid-column: 2/3;
      overflow-y: scroll;
      padding-top: 2em;
   }

   .hero {
      grid-column: 2/3;
      background: #6207FF;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 14px;
      padding: 2em;
   }

   .hero1 {
      margin-top: 1.2rem;
      text-align: center;
      margin-right: 0;
   }

   .hero1 h1 {
      font-size: 3rem;
      line-height: 4rem;
   }

   .hero2 {
      margin-top: 1em;
      text-align: center;
      margin-left: 0;
      padding-right: 0px;
   }

   .hero2 h2 {
      font-size: 1.6rem;
      line-height: 2.2rem;
   }

   .hero1::before {
      position: absolute;
      height: 100%;
      width: 0.6em;
      background: #FFF05A;
      content: "";
      display: none;
   }

   .hero1::after {
      position: absolute;
      bottom: -0.8em;
      height: 0.4em;
      width: 100%;
      background: #FFF05A;
      content: "";
      display: block;
   }
}

@media only screen and (max-width: 640px) {
   nav {
      flex: 1 auto;
   }

   .mainMenu {
      position: fixed;
      top: 8em;
      right: 0;
      width: 100%;
      flex-flow: column nowrap;
      display: none;
   }

   .mainMenu>li {
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      background: rgba(255, 255, 255, 1);
      border-radius: 6px;
      padding: 1em;
      border-top: 1px dotted grey;
   }

   #show-menu-input-checkbox {
      display: none;
   }

   #show-menu-input-checkbox:checked~.mainMenu {
      display: flex;
      justify-content: flex-start;
   }

   #main-menu-toggler {
      width: 8rem;
      height: 8rem;
      position: fixed;
      top: 1rem;
      right: 2rem;
      padding: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #main-menu-toggler-icon:after,
   #main-menu-toggler-icon:before {
      content: "";
      position: absolute;
      left: 0;
      top: -0.9rem;
   }

   #main-menu-toggler-icon:after {
      top: 0.9rem;
   }

   #main-menu-toggler-icon {
      position: relative;
      display: block;
   }

   #main-menu-toggler-icon,
   #main-menu-toggler-icon:after,
   #main-menu-toggler-icon:before {
      width: 80%;
      height: 0.3rem;
      background-color: rgba(22, 22, 22, 1);
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
   }

   /* on menu activation */
   #show-menu-input-checkbox:checked~#main-menu-toggler>#main-menu-toggler-icon {
      background-color: transparent;
   }

   #show-menu-input-checkbox:checked~#main-menu-toggler>#main-menu-toggler-icon:before {
      transform: rotate(45deg) translate(0.5rem, 0.5rem);
   }

   #show-menu-input-checkbox:checked~#main-menu-toggler>#main-menu-toggler-icon:after {
      transform: rotate(-45deg) translate(0.7rem, -0.8rem);
   }

}