/* body & general font styles */
* {
   box-sizing: border-box;
   font-family: 'HK Grotesk Regular';
}

html {
   font-size: 62.5%;
   overflow: auto;
   height: 100%;
}

body {
   font-family: 'HK Grotesk Regular';
   font-size: 1rem;
   line-height: 1.6;
   background: #f8f8f8;
   overflow-y: scroll;
   height: 100%;
}

h1 {
   font-size: 4.4rem;
   line-height: 5.5rem;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-family: 'HK Grotesk Medium';
}

h2 {
   font-size: 2.4rem;
   font-weight: 400;
   font-family: 'HK Grotesk Regular';
   margin-block-start: 0em;
   margin-block-end: 0em;
}

.subtitle-lg {
   font-size: 2rem;
   line-height: 3rem;
   font-family: 'HK Grotesk Regular';
   text-align: center;


}

h3 {
   font-size: 2.2rem;
   font-family: 'HK Grotesk Regular';
   font-weight: 700;
   line-height: 2.8rem;
}

h4 {
   font-size: 1.7rem;
   font-family: 'HK Grotesk Regular';
   font-weight: 300;
   line-height: 2.5rem;
}

p {
   font-size: 1.6rem;
   line-height: 2rem;
   max-width: 90ch;
}

a {
   font-size: 1.6rem;
}

.text {
   max-width: 75ch;
}

.link-wht {
   text-decoration: none;
   color: white;
   font-size: 1.6rem;
   font-family: 'HK Grotesk Medium';
   display: block;
}

.link-blk {
   text-decoration: none;
   color: black;
   font-size: 1.6rem;
   font-family: 'HK Grotesk Medium';
   display: block;
}

.link-blk:hover {
   text-decoration: underline;
   font-size: 1.6rem;
   font-family: 'HK Grotesk Medium';
}

.help {
   font-family: 'HK Grotesk regular';
   color: black;
}

/* grid */

.grid-1 {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 6rem 1fr;
}

.grid-2 {
   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: 1fr 6fr 6fr 1fr;
   overflow: hidden;
}

.home-content {
   grid-column: 2/4;
   overflow-y: scroll;
}

.home-content::-webkit-scrollbar {
   display: none;
}

.home-content {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

/* header/nav */

header {
   width: 100%;
   margin: 0px auto;
   background: white;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   z-index: 10;
   height: 6rem;
}

.navbar {
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
   margin: 1.6rem auto;
   padding-bottom: 1rem;
}

.tjn {
   font-family: 'HK Grotesk Regular';
   max-height: 2rem;
}

.nav-menu {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.8rem;
}

.nav-link {
   color: black;
   text-decoration: none;
   padding: 0.5em;
   position: relative;
   z-index: 0;
   cursor: pointer;
   flex: 1 0 auto;
   background: transparent;
   margin: 5px;
}

.nav-link:after {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0.2rem;
   background: black;
   content: "";
   opacity: 0;
   transition: all 0.3s;
}

li:hover .nav-link:after {
   transform: translateY(-0.6rem);
}

li:hover .nav-link:hover:after {
   opacity: 1;
   transform: translateY(0rem);
}

.active-link {
   color: black;
   text-decoration: none;
   position: relative;
   cursor: pointer;
   padding: 0.5em;
   margin: 0.5rem;
}

.active-link:after {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0.2rem;
   background: #6207FF;
   content: "";
   opacity: 1;
}

.hamburger {
   visibility: hidden;
   display: flex;
   align-items: center;
   width: 40px;
   height: 50px;
   margin: 0;
   margin-top: 2rem;
   padding: 0;
}

.bar {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}

.bar,
.bar:before,
.bar:after {
   background-color: black;
   width: 80%;
   height: 3px;
   transition: margin 0.1s 0.2s,
      transform 0.2s;
   border-radius: 2px;
}

.bar:before,
.bar:after {
   margin: 0;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 80%;
}

.bar:before {
   margin-top: -10px;
}

.bar:after {
   margin-top: 10px;
}

/* main & hero */

.hero {
   grid-row: 1/2;
   grid-column: 2/3;
   background: #6207FF;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 14px;
   padding: 6rem;
   padding-left: 16rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.hero1 {
   position: relative;
   margin-right: 2rem;
}

.hero1::before {
   position: absolute;
   left: -2rem;
   height: 100%;
   width: 0.6rem;
   background: #FFF05A;
   content: "";
}

.hero1::after {
   position: absolute;
   bottom: -0.8rem;
   height: 0.3rem;
   width: 100%;
   background: #FFF05A;
   content: "";
   display: none;
}

.hero2 {
   flex: 4;
   max-width: 70%;
   margin: 1.6rem;
   padding-right: 6rem;

}

/* projects */

.title-block {
   grid-column: 2/4;
   grid-row: 2/3;
   text-align: center;
}

.project1 {
   grid-column: 2/4;
   grid-row: 3/4;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 14px;
   background: #ffffff;
   padding: 2%;
}

.project2 {
   grid-column: 2/4;
   grid-row: 4/5;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 14px;
   background: #ffffff;
   padding: 2%;
   margin-top: 2rem;
}

.project3 {
   grid-column: 2/4;
   grid-row: 5/6;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 14px;
   background: #ffffff;
   padding: 2%;
   margin-top: 2rem;
}

.outline-item {
   padding: 0.4em 1em;
   font-size: 1.6rem;
   border: 1px solid black;
   text-align: center;
   margin: 0.5rem;
   border-radius: 8px;
   font-weight: 400;
}

.proj-img-div {
   flex: 5;
   border-radius: 14px;
   text-align: center;
   min-width: 34rem;
}

.yellow {
   background: #FFF05A;
}

.green {
   background: #90B301;
}

.orange {
   background: #febf7f;
}

.proj-img {
   width: 100%;
   border-radius: 14px;
   filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(75, 74, 74, 0.1));
}

.proj-img-lg {
   width: 100%;
}

.proj-txt {
   flex: 4;
   padding: 3%;
   min-width: 34rem;
}

.more-btn {
   position: relative;
   background: #6207FF;
   padding: 0.8em 0.6em;
   text-align: center;
   transition: 0.5s;
   max-width: 34rem;
   border-radius: 8px;
   box-shadow: 0 0 20px #eee;
   overflow: hidden;
   z-index: 1;
   min-width: 26rem;
   margin: 1rem auto;
}

.more-btn a {
   display: block;
}

.more-btn:after {
   content: "";
   position: absolute;
   text-align: center;
   top: 0;
   left: 0;
   width: 500%;
   height: 1000%;
   background: #1A2238;
   z-index: -1;
   transform-origin: 0% 0%;
   transform: translateX(calc(20% - 50px)) translateY(10%) rotate(-45deg);
   /transform: translateY(10%) translateX(16%) rotate(-45deg);
   transition: transform .3s;
}

.more-btn:hover::after {
   transform: translateY(12%) rotate(-45deg);
}

/* footer */

footer {
   grid-column: 1/5;
   grid-row: 6/7;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   text-align: center;
}

.social {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 34rem;
   margin-top: 2rem;
}

.icon {
   margin-left: 1rem;
   margin-right: 1rem;
}

.icon-lg {
   margin-left: 1rem;
   margin-right: 1rem;
   width: 4rem;
}


.copyright {
   display: flex;
   justify-content: center;
   align-items: center;
}

.help {
   text-align: center;
   margin-bottom: 2rem;
}

@media only screen and (max-width: 900px) {

   .subtitle-lg {
      font-size: 1.8rem;
      line-height: 3rem;
      font-family: 'HK Grotesk Regular';
      text-align: center;
   }

   .hero2 {
      flex: 4;
      max-width: 70%;
      margin: 1.6rem;
      padding-right: 0rem;
   }
}

@media only screen and (max-width: 768px) {

   .grid-1 {
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 6rem 1fr;
   }

   .grid-2 {
      display: grid;
      grid-template-columns: 2rem 1fr 2rem;
      overflow: hidden;
   }

   header {
      width: 100%;
      margin: 0px auto;
      background: white;
      box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
      z-index: 10;
      height: 6rem;
   }

   .navbar {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6rem;
      margin: 1.6rem auto 1rem auto;
      padding-bottom: 3rem;
   }

   .home-content {
      grid-column: 2/3;
   }

   .tjn {
      margin-top: 1.5rem;
   }

   h4 {
      font-size: 1.6rem;
   }

   .hero {
      grid-column: 2/3;
      background: #6207FF;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 14px;
      padding: 2em;
      margin-top: 1rem;
   }

   .hero1 {
      margin-top: 1rem;
      text-align: center;
      margin-right: 0;
   }

   .hero1 h1 {
      font-size: 3rem;
      line-height: 4rem;
   }

   .hero2 {
      margin-top: 2rem;
      text-align: center;
      margin-left: 0;
      padding-right: 0px;
   }

   .hero2 h2 {
      font-size: 1.6rem;
      line-height: 2.2rem;
   }

   .hero1::before {
      position: absolute;
      height: 100%;
      width: 0.6em;
      background: #FFF05A;
      content: "";
      display: none;
   }

   .hero1::after {
      position: absolute;
      bottom: -0.8em;
      height: 0.4em;
      width: 100%;
      background: #FFF05A;
      content: "";
      display: block;
   }

   .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
         0 10px 27px rgba(0, 0, 0, 0.05);
   }

   .nav-menu.active {
      left: 0;
      padding: 0;
   }

   .nav-item {
      margin: 2rem 0;
   }

   .hamburger {
      visibility: visible;
      cursor: pointer;
      margin-bottom: 1.5rem;
   }

   .hamburger.active .bar {
      transform: rotate(45deg);
   }

   .hamburger.active .bar:before,
   .hamburger.active .bar:after {
      transition: margin 0.2s, transform 0.1s 0.2s;
      width: 100%;
   }

   .hamburger.active .bar:before,
   .hamburger.active .bar:after {
      margin-top: 0;
   }

   .hamburger.active .bar:after {
      transform: rotate(-90deg);
   }
}

@media only screen and (max-width: 640px) {

   .grid-2 {
      display: grid;
      grid-template-columns: 1rem 1fr 1rem;
      overflow: hidden;
   }

}

/* form */

.contact {
   width: 80%;
   margin: 0 auto;
}

.margin-bottom {
   margin-bottom: 1rem;
}

.social {
   margin-top: 0rem;
}

form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
   font-size: 1.6rem;
   font-family: inherit;
   font-size: 100%;
   color: inherit;
   border: none;
   border-radius: 0;
   display: block;
   width: 100%;
   padding: 0;
   margin: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
}

form label,
form legend {
   font-size: 1.6rem;
   margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
   box-sizing: border-box;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.9);
   padding: 0.75em 1rem;
   margin-bottom: 1.5rem;
   font-size: 1.6rem;
}

form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
   background-color: white;
   outline-style: solid;
   outline-width: thin;
   outline-color: gray;
   outline-offset: -1px;
}

form [type="text"],
form [type="email"],
.StripeElement {
   width: 100%;
}

form [type="button"],
form [type="submit"],
form [type="reset"] {
   width: auto;
   cursor: pointer;
   -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
   color: white;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
   outline: none;
}


form select {
   text-transform: none;
}